@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .primary-background {
    background-color: #e9ecef;
  }

  .secondary-background {
    background-color: #f8f9fa;
  }

  .light-background {
    background-color: #ffffff;
  }

  .slate-background {
    lime-color: #ffffff;
  }

  .white-image {
    filter: invert(1) brightness(1);
  }
}

@layer components {
  .lexend {
    font-family: "Lexend", sans-serif;
  }
}
